<main class="container mx-auto mt-20 px-5 cols">
<div class="order-title">Order history</div>
<div class="grid  xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1  ">
<% @orders.each do |order| %>
    <%= render partial:'orders', locals:{order:order} %>
    <% end %>
  </div> 
</main>