<div class="card">
  <img class="card-rarity" src="<%=image_path("diamond.png")%>">
  <div class="item-card card_full max-w-sm overflow-hidden shadow-lg">
  <div class="card-texture">
      <img class="w-full " src="<%=image_path("paper-texture.png")%>" alt="texture">
      </div>
    <div class="card-background">
      <img class="w-full " src="<%=image_path("doctor-cat.png")%>" alt="dimaond">
    </div>
    <div class="card-content">
      <div class="card-title">Bored Cat</div>
      <div class="card-footer">
        <div class="card-price ">199.00 €</div>
        <%= button_to "Add to cart", items_path, class:"btn card-add-btn" %>
      </div>
    </div>
  </div>
</div>
